<p style="color: green"><%= flash[:notice] %></p>

<table>
  <tr>
    <td align="center">
      <img src="/images/acess_denied.png" alt="Lock" />
      <br /><br />
      <h1>Access Denied!</h1>
    </td>
  </tr>
</table>