<table 
  style="width: 100%; height: 100%;" cellpadding="0" cellspacing="0"
  id="table_login">
  <tr>
    <td align="center">

      <img src="/images/logo_company_login.png" alt="Logo company" />

      <br /><br /><br />

       <% form_tag do %>

      <table class="login_form" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <table style="width:350px; margin-left: 20px;">
              <tr>
                <td colspan="2" class="notice">
                  <%= flash[:notice] %>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-align: right;">
                  <a href="/admin/forgot_password" style="position: relative; left: 15px;">
                    Forgot password?
                  </a>
                </td>
              </tr>
              <tr>
                <td style="width:100px;">
                  Username:
                </td>
                <td >
                  <%= text_field_tag :name, params[:name], :class=> "form_field", :style => "width:100%; padding: 5px;" %>
                </td>
              </tr>
              <tr>
                <td>
                  Password:
                </td>
                <td>
                  <%= password_field_tag :password, params[:password], :class=> "form_field", :style=> "width:100%; padding: 5px;"  %>
                </td>
              </tr>
              <tr>
                <td>
                  &nbsp;
                </td>
                <td style="text-align: right; ">
                  <input type="submit"
                         name="entrar"
                         value="LOGIN"
                         class="button" style="position: relative; left: 15px;"/>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br /><br />
      <span style="color: #CCCCCC;">
        <%= system_footer %>
      </span>
      <% end %>

    </td>
  </tr>

</table>




